/* Element styles
*/

body {
	font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}
h3 {
	margin: .5rem 0;
}

/* ID selector styles
*/
#container {
	margin: 1rem;
}

/* Class & other styles
*/
.search-box {
	display: flex;
	width: 100%;
	height: 1.5rem;
	border: 1px solid #b6b6b6;
	border-radius: 4px;
	padding-left: .5rem;
}

/* Display information: The information to show/hide in the state table results
*/

.display-info {
	/* show me your moves!*/
}
.display-info .info-list {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	/*border: 1px solid blue;*/
}
.display-info .info-list .info-item {
	display: flex;
	align-items: center;
	/*border: 1px solid green;*/
}
.display-info .info-list .info-item .info-item-selection {
	display: flex;
}
.display-info .info-list .info-item .info-item-text {
	display: flex;
}

/* State table information: Information for each state. 
*/

.states {
	display: flex;
	flex-wrap: wrap;
}

.states .state-table {
	display: flex;
	flex-direction: column;
	margin-top: .5rem;
	padding: 1rem;
	border-radius: 6px;
	width: 350px;
}
.states .state-table:nth-child(odd) {
	border: 1px solid #b6b6b6;
}
.states .state-table th {
	font-size: 1.5rem;
}
.states .state-table tbody {
	margin-top: .5rem;
}
.states .state-table tr {
	/* Flex fallback for inconsistencies with Edge, FireFox, and IE */
	display: inline-block;
	width: 100%;
	/*display: flex;*/
	padding: 4px 0;
}
.states .state-table tr:nth-child(odd) {
	color: #33AADD;
}
.states .state-table tr:nth-child(even) {
	background-color: #f0f8ff;
	color: #114477;
}

.states .state-table tr td {
	/* Continuation of flexbox for evergreen browser that support it */
	/*
			flex: 1;
	-webkit-flex: 1;
	   -moz-flex: 1;
	    -ms-flex: 1;
	*/
	/* Flex fallback for inconsistencies with Edge, FireFox, and IE */
	display: inline-block;
	width: 50%;
	vertical-align: text-top;
}
.states .state-table tr td:first-child {
	font-family: "Century Gothic Bold", "Century Gothic";
	text-transform: uppercase;
}
.states .state-table tr td:nth-child(2) {
	font-size: .9rem;
	letter-spacing: .5px;
}
